@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400&display=swap');

/*------------------------------
 ▼共通デザイン（モバイル向け）
 -------------------------------*/
body {
  margin: 0px auto;
  width: 100vw;
  background-color: #2e2d33;
  color: white;
  font-size: 15px;
  height: 100vh;
  position: relative;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

i {
  margin: 1%;
}

a {
  color: white;
}

h1 {
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  padding: 1% 5%;
  background-color: #222;
}

header {
  height: 5%;
  margin: 0;
}

#app {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1em;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 90%;
  display: grid;
  grid-template: 2em 5fr 2em 1fr / 1fr 1fr 1fr;
}

#audioTitle {
  padding: 0 10%;
  font-size: 1rem;
  grid-row: 1;
  grid-column: span 3;
}

#explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2;
  grid-column: span 3;
  transition: all 300ms 0s ease;
}

#content-wrap {
  grid-row: 2;
  grid-column: span 3;
  position: relative;

}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;

}

#caption {
  grid-column: 1/3;
}

#transcription {
  width: 100%;
  font-size: 1.5rem
}

.minimum {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 1rem;
  background-color: #3d3c44;
  margin: 0 2%;
  padding: 5% 5%;
  transition: all 300ms 0s ease;
}

.maximumSpread {
  height: 90%;
}

.spread {
  height: 50vw;
}

.narrowed {
  margin: 0;
  padding: 0;
  height: 0;
}

#state {
  text-align: center;
  margin: auto;
  grid-row: 3;
  grid-column: 2;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4;
  grid-column: 2;
}

.btn-default {
  border: none;
  cursor: pointer;
  font-size: 100%;
  transition: all 300ms 0s ease;
}

.wrap button {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #dd5555;
}

#playerbox {
  position: relative;
}

.bi-arrow-repeat {
  position: absolute;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button i.bi {
  transition: all 300ms 0s ease;
}

button div {
  width: 100%;
  height: 100%;
  font-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #421a1a;
}

button div i {
  font-size: 1.5em;
}


#current,
#duration {
  padding: 0;
  margin: .2em;
}


#player {
  display: grid;
  grid-template-rows: 10% 50% 1fr 2% 20%;
  grid-template-columns: 1fr;
  height: 100%;

}

#seekbar {
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(#ccc, #ccc) no-repeat #49444c;
  grid-row: 4;
  grid-column: 1;
}

#time {
  margin: 0 1em;
  grid-row: 3;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  grid-row: 2;
  grid-column: 1;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #fff;

}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

#property {
  grid-row: 1;
  grid-column: 1;
  font-size: 1rem;
}


#buttons {
  height: 100%;
  grid-row: 5;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 0.5em
}


.playBtn {
  grid-column: 2;
  background: rgba(0, 0, 0, 0);
}

.btn i {
  font-size: 1rem;
  color: #FFF;
}

.downloadButton {
  text-align: right;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer {
  background-color: #422e2e;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

/*-------------------------------------
 ▼中型画面向けデザイン（タブレットなど）
 --------------------------------------*/
@media screen and (min-width: 600px) {


  body {
    font-size: 1rem;
  }

  #app {
    top: 3rem;
    grid-template-rows: 1fr 5fr 10rem;
    grid-template-columns: 1fr 10rem;
    font-size: 1rem;
  }

  .wrap {
    grid-row: 3;
    grid-column: 2;
  }

  .wrap button {
    width: 5rem;
    height: 5rem;
  }

  .wrap button i {
    font-size: 2rem;
    margin: 0;
  }

  .card {
    /* padding: 2%; */
    border-radius: 1rem;
  }

  #playerbox {
    grid-row: 1;
    /* padding: 1rem; */
    /* margin: 1rem; */
    grid-column: 1;
  }

  #audioTitle {
    font-size: 1rem;
    display: flex;
    align-items: center;

  }


  #state {
    grid-row: 3;
    grid-column: 1;
    text-align: right;
  }

  #property {
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  #time {
    font-size: 1rem;
  }

  #caption:hover {
    cursor: pointer;
  }

  #seekbar {
    cursor: pointer;
  }

  #buttons {}

  .btn i {
    font-size: 1rem;
  }

  .spread {
    height: 30vh;
  }

  .maximumSpread {
    height: 70%;
  }

  .narrowed {
    margin: 0;
    padding: 0;
    height: 0;
  }

}

/*-------------------------------
 ▼大型画面向けデザイン（PCなど）
 --------------------------------*/
@media screen and (min-width: 1024px) {
  body {
    width: 100vw;
  }

  #app {
    width: 800px;
    margin: 0 auto;
  }
}