<!-- 土台 -->

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>仮タイトル</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
  <header>
    <h1><i class="bi bi-mic"></i>ボイスレコーダー</h1>
  </header>
  <div id="app">
    <div id="preview">
      <input v-if="transcript" type="text" v-model="transcript">
      <audio v-if="audioUrl" :src="audioUrl" controls>
        <p>audioタグサポートのブラウザをご使用下さい。</p>
      </audio>
    </div>
    <div class="wrap">
      <button @click="switchRecordingState" :disabled="hideBtn">
        <div><i v-if!="btnMsg" class="bi bi-circle-fill"></i>{{ btnMsg }}</div>
      </button>
    </div>
  </div>
  <footer>
    <small>Copyright &copy;matsuuranobuki,all rights reserved.</small>
  </footer>
  <script src="js/app.js"></script>
</body>

</html>