<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>ボイスレコーダーアプリ</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <h1><i class="bi bi-mic"></i>ボイスレコーダー</h1>
  </header>
  <div id="app">
    <div id="audioTitle" v-if="isRecording">{{ dateTime }}</div>
    <div id="content-wrap">
      <div id="explanation" v-if="!isRecording && !audioUrl">
        ボタンをタップして<br>録音を開始しましょう
      </div>
      <audio :src="audioUrl" controls="controls" id="audioPlayer" hidden>
        <p>audioタグサポートのブラウザをご使用下さい。</p>
      </audio>
      <div id="playerbox" class="card" :class="{'maximumSpread': detailCard ,'spread': !isRecording && !detailCard && audioUrl,'narrowed': !audioUrl || isRecording }">
        <i class=" bi bi-arrow-repeat" v-if="!showplayer && audioUrl && !isRecording"></i>
        <!-- v-if="!showplayer && audioUrl && !isRecording" -->
        <div id="player" v-show="showplayer">
          <div id="caption" @click="spreadPlayer">
            <div id="property">{{ dateTime }}</div>
            <div class="title" :class="{'minimum': !detailCard}" v-if="!detailCard">
              {{ finalTranscript }}
            </div>
          </div>
          <textarea class="title" v-if="detailCard" v-model="finalTranscript"></textarea>
          <div id="time">
            <span id="current">{{ current }}</span>
            <span id="duration">{{ duration }}</span>
          </div>
          <div id="seekbar"></div>
          <div id="buttons">
            <button class="btn-default btn playBtn" @click="controllAudio">
              <i class="bi" :class="{'bi-caret-right-fill':!isPlayingAudio,'bi-pause-fill':isPlayingAudio }"></i>
            </button>
            <a :href="audioUrl" class="btn downloadButton" :download="Math.floor(Date.now() / 1000) + finalTranscript + '.wav'">
              <i class="bi bi-download"></i>
            </a>
          </div>
        </div>
      </div>
      <div id="preview" class="card" :class="{'maximumSpread': isRecording || audioUrl,'narrowed':!isRecording}">
        <div v-if="isRecording" id="transcription">
          {{finalTranscript }}<i style="color:rgb(5, 242, 139);">{{ interimTranscript }}</i>
        </div>
      </div>
    </div>
    <div v-show="isRecording" id="state">録音中…</div>
    <div class="wrap">
      <button @click="switchRecordingState" :disabled="hideBtn" :style="{'border-radius': `${radius}%`}" class="btn-default">
        <div><i class="bi recording-button" :class="{'bi-mic': !isRecording,'bi-square-fill':isRecording}"></i></div>
      </button>
    </div>
  </div>
  <footer>
    <small>Copyright &copy;matsuuranobuki,all rights reserved.</small>
  </footer>
  <script src="js/app.js"></script>
</body>

</html>