<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>仮タイトル</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
  <header>
    <h1><i class="bi bi-mic"></i>ボイスレコーダー</h1>
  </header>
  <div id="app">
    <div id="audioTitle" v-if="isRecording">{{ dateTime }}</div>
    <div id="content-wrap">
      <div id="explanation" v-if="!isRecording && !audioUrl" :class="{'spread': !isRecording,'narrowed':isRecording}">
        ボタンをタップして<br>録音を開始しましょう
      </div>
      <audio :src="audioUrl" controls="controls" id="audioPlayer" hidden>
        <p>audioタグサポートのブラウザをご使用下さい。</p>
      </audio>
      <div id="playerbox" class="card">
        <i class="bi bi-arrow-repeat" v-if="!showplayer && audioUrl && !isRecording"></i>
        <!-- v-if="!showplayer && audioUrl && !isRecording" -->
        <div id="player" v-show="showplayer" :class="{'spread': !isRecording }">
          <div id="title">{{ dateTime }}</div>
          <button @click="controllAudio">Pause</button>
          <div id="time">
            <span id="current">{{ current }}</span>
            <span id="duration">{{ duration }}</span>
          </div>
          <div id="seekbar"></div>
          <a :href="audioUrl" :download="Math.floor(Date.now() / 1000) + finalTranscript + '.wav'">
            <i class="bi bi-download"></i>
          </a>
        </div>
      </div>
      <div id="preview" class="card" :class="{'spread': isRecording || audioUrl,'narrowed':!isRecording}">
        <div v-if="isRecording">
          {{finalTranscript }}<i style="color:rgb(5, 242, 139);">{{ interimTranscript }}</i>
        </div>
      </div>
    </div>
    <div class="wrap">
      <button @click="switchRecordingState" :disabled="hideBtn" :style="{'border-radius': `${radius}%`}">
        <div><i class="bi" :class="{'bi-circle-fill': !isRecording,'bi-pause-fill':isRecording}"></i>{{ btnMsg }}</div>
      </button>
    </div>
  </div>
  <footer>
    <small>Copyright &copy;matsuuranobuki,all rights reserved.</small>
  </footer>
  <script src="js/app.js"></script>
</body>

</html>